{{#> layout currentPage='Blog'}}

<!-- Blog List -->
<main>
    <h1 style="text-align: center; margin-top: 30px;">My Blogs</h1>
    <div style="width: 90%; margin: 10px auto; text-align: right;">
        <a href="/blog-create" class="blog_post_button">Create Blog</a>
    </div>
    <section id="blog_list" class="blog_list">

        {{#each blogs}}
        <article class="blog_item">
            <div class="blog_item_img">
                <img src="{{this.image}}" alt="" />
            </div>
            <div class="blog_item_text">
                <div class="blog_item_button">
                    <a href="/blog-edit/{{@index}}" class="btn btn-secondary">Edit Blog</a>
                    <form style="display: inline;" action="/blog/{{@index}}?_method=DELETE" method="post">
                        <button onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger"
                            type="submit">Delete Blog</button>

                    </form>
                </div>

                <a href="/blog/{{@index}}" style="text-decoration: none;">
                    <h1 class="blog_item_title">{{this.title}}</h1>

                </a>

                <p>{{formatDateToWIB this.postedAt}} | {{this.author}} </p>
                <p>
                    {{this.content}}
                </p>
                <p class="blog_item_relative_time">{{getRelativeTime this.postedAt}}</p>

            </div>
        </article>

        {{/each}}
    </section>
</main>

{{/layout}}